<head>
    <meta charset="utf-8">
    {% if page.layout == "homepage" or page.type == "search" or page.type =="404" %}
    <title>{{page.title}} | {{site.uistring.title}}</title>
    {% else %}
    <title>{{page.title}} | {{page.product}}</title>
    {% endif %}
    <base>
    <meta name="description" content="{% if page.content %}{{ page.content | truncatewords: 30 | strip_html }} {% else %}{{site.uistring.description}}{% endif %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <meta name="lang:search.language" content="en">
    <meta name="lang:search.pipeline.stopwords" content="True">
    <meta name="lang:search.pipeline.trimmer" content="True">
    <meta name="lang:search.result.none" content="No matching documents">
    <meta name="lang:search.result.one" content="1 matching document">
    <meta name="lang:search.result.other" content="# matching documents">
    <meta name="lang:search.tokenizer" content="[\s\-]+">
    <link rel="icon"  type="image/x-icon" href="{{site.favicon}}">

    <!-- FontAwesome (GPL license) -->
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery (MIT license)-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- jQuery cookie (MIT license)-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Navgoco (BSD license)-->
    <script type="text/javascript" src="assets/js/jquery.navgoco.min.js"></script>
	    <script type="text/javascript" src="assets/js/toc.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
</script>
	

    <!-- Bootstrap (MIT license)-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Anchor JS (MIT license)-->
    {% unless page.layout == "homepage" or page.type == "search" or page.type =="404" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
        <script>
        $( document ).ready(function() {
            anchors.add('h2,h3,h4,h5');
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    {% endunless %}
   <script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
</script>
    <script>
        $( document ).ready(function() {
            $("#docnavsidebar").navgoco({
                caretHtml: '',
                accordion: false,
                openClass: 'open', // open
                save: true,
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 300,
                    easing: 'swing'
                }
            });
            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#docnavsidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#docnavsidebar").navgoco('toggle', true);
            });
        });

    </script>

 <!-- For responsive button to toggle sidebar -->


    <!-- User defined js -->
    <script src="assets/js/user_defined_javascript.js"></script>
    <script src="assets/js/prism.js"></script>
    <script src="assets/js/prism-line-numbers.js"></script>
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>

    <!--Bootstrap (MIT license) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Original theme from Bootstrap Bootswatch fork: http://www.codeply.com/go/rV7KhUjwCN (MIT license) -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/user_defined_web_styles.css" />
    <style>
        ul#markdown-toc::before  {
        content: "{{site.uistring.tableofcontents}}"
         }
    </style>
    <link rel="stylesheet" type="text/css" href="assets/css/prism.css">

</head>