<h3 >Table of Contents</h3>
<ol>
<li style="color: #ED1951;"><a href="#1-points-list-for-selected-tags">Points list for selected tags</a></li>
<li style="color: #ED1951;"><a href="#2-point-counts-for-each-tag">Point counts for each tag</a></li>
<li style="color: #ED1951;"><a href="#3-all-points-and-tags-grouping">All points and tags grouping</a></li>
</ol>

<h2 style="color: #ED1951;">1. Points list for selected tags</h2>

<h3 >Administration (HR works)</h3>

<ul>
  {% for post in site.tags.Administration %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>Payroll management (HR works)</h3>

<ul>
  {% for post in site.tags.Payroll-management %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<hr>
<h2 style="color: #ED1951;">2. Point counts for each tag</h2>
<div>
<ul>
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
    <li>{{t | replace:" ","-" }} <code>{{ posts | size }} pages </code></li>
{% endfor %}
</ul>
</div>

<h2 style="color: #ED1951;">3. All points and tags grouping</h2>
{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<h4>{{ t }}</h4>
<ul>
    {% for post in posts %}
    {% if post.tags contains t %}
    <li>
       <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span></a></li>

    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

