

<div class="page-container">


    <!-- Top Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container topnavlinks">
            <div class="navbar-header">
              {% if site.navbar-toggle == true %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-2x"></span>
                </button>
                {% endif %}
                {% if site.toggle-sidebar-button == true %}
                <button type="button" class="navbar-toggle toggle-sidebar-button"  data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="sidebarToggle fa fa-columns fa-2x"></span>
                </button>
                {% endif %}


                  {% include logo.html %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">

                    <!-- single item nav items appear here -->

                    {% assign topnav = site.data[page.topnav] %}
                    {% for entry in topnav.navbar_singleitems %}
                    {% for item in entry.items %}
                    {% if item.url contains "http://" or item.url contains "https://" %}
                    <li><a style="color:#e24d55" href="{{item.url}}" class="noExtIcon">{{item.title}}</a></li>
                    {% elsif page.url contains item.url %}
                    <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                    {% else %}
                    <li><a style="color:#e24d55" href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                          <!-- drop-down nav items appear here -->

                    {% for entry in topnav.navbar_dropdowns %}
                    {% for folder in entry.folders %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for folderitem in folder.folderitems %}
                            {% if folderitem.url contains "http://" or folderitem.url contains "https://" %}
                            <li><a href="{{folderitem.url}}" class="noExtIcon">{{folderitem.title}}</a></li>
                            {% elsif page.url contains folderitem.url %}
                            <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                            {% else %}
                            <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    {% endfor %}{% endfor %}
                    {% if site.show_feedback == true %}
                    {% include feedback.html %}
                    {% endif %}

                    {% if site.github_button_location_top_navbar == true %}
                    <li>{% include github_button_topnavbar.html %}</li>
                    {% endif %}


                </ul>
                {% if site.search_in_topnav == true %}

                <ul class="nav navbar-nav navbar-right">
                    <li>

                     <div id="search-topnav-container ">
                        <form action="search.html" method="get">
                          <div class="input-group search">
                            <input type="text" id="search-box" name="query" class="form-control" placeholder="{{site.uistring.search_placeholder_text}}">
                            <div class="input-group-btn">
                              <button class="btn btn-default" type="submit" value="search">
                                <i class="glyphicon glyphicon-search"></i>
                              </button>
                            </div>
                          </div>
                        </form>
                        </div>


                    </li>
                </ul>
                {% endif %}
            </div>

        </div>


        <!-- /.container -->
    </nav>
