.navbar-default .navbar-brand:focus {
  color : #e24d55;
}
.navbar-default{
  background-color: #ffffff;
  //border-color: none;
}
.navbar-default .navbar-text {
  color : #111111;
}
.navbar-default .navbar-nav > li > a {
  color : #556270;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color : #e24d55;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color : #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color : #111111;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color : #e24d55;
  background-color : #ffffff;
  font-weight: bold;

}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color : #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color : #e24d55;
  background-color : #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color : #e24d55;
  background-color : #e24d55;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color : #e24d55;
  background-color : #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color : #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color : #111111;
}
.navbar-default .navbar-link {
  color : #111111;
}
.navbar-default .navbar-link:hover {
  color : #e24d55;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color : #111111;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color : #e24d55;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color : #e24d55;
    background-color : #ffffff;
  }
}
img.navbar-logo {
  max-height : 50px;
}
.navbar-brand {
  margin-right : 30px;
  padding-top : 10px;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    padding-top : 10px;
  }
}
.navbar-default .navbar-nav > li > a {
  font-size : 16px;
  font-family : Segoe UI;
  font-weight: bold;
}
ul.nav.navbar-nav li a {
  white-space : nowrap;
  margin-right : 7px;
}
#search-topnav-container {
  margin-top : 20px;
}
#search-demo-container ul#results-container {
  list-style : none;
  font-size : 12px;
  background-color : white;
  position : absolute;
  top : 40px;
  left : 20px;
  z-index : -1;
  width : 223px;
  border-left : 1px solid #dedede;
  box-shadow : 2px 3px 2px #dedede;
}
ul#results-container a {
  background-color : transparent;
  border: none !important;
}
ul#results-container a:hover {
  color : black;
}
#search-demo-container a:hover {
  color : black;
}
#search-input {
  width : 20em;
  font-size : 0.8em;
  box-sizing : border-box;
  float : right;
  margin-top : 10px;
}
#search-results {
  margin-top : 30px;
}
div.searchFormDisplay {
  display : none;
}
.navbar-brand {
  margin-right : 50px;
}
.navbar-brand-text {
  margin-top : 15px;
  font-size : 25px;
  margin-right : 50px;
}
a.navbarHomeLink {
  color : black;
  text-decoration : none;
}
i.fa.fa-home.fa-lg {
  padding-right : 10px;
  vertical-align : 0%;
}
i.fa.fa-envelope-o.topnavfeedback {
  padding-right : 8px;
}