---
layout: null
---
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus{
    text-decoration: none;
    font-size: 15px; !important;
    font-weight: 500; !important;
    font-family: "Poppins", sans-serif; !important;
}

.navbar-default .navbar-nav > li > .dropdown-menu{
    padding: 0;


}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a, .navbar-default .navbar-nav > li > .dropdown-menu > li > a{
    padding: 10px !important;
    color: #5D5D5D;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    text-decoration: none;
    color: #e24d55; 
    font-weight: bold;
 

}

.dropdown:hover .dropdown-menu {
    display: block;
}
.anchorjs-link  {
    opacity: 100 !important;
}
/* left blank so you can overwrite this in your own project without copying the layout too */

.summary {
    font-size:122%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;
}

.summary:before {
    content: "Summary: ";
    font-weight: bold;
}

.prodSummary {
    font-size:112%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;
}

.prodSummary:before {
    content: "Summary: ";
    font-weight: bold;
}

.tagSummary {
    font-size:115%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 0px solid #5ad;
    padding-left: 10px;
}

.tagSummary:before {
    content: "Tags: ";
    font-weight: bold;
}


.scope {
    font-size:120%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;
}

.scope:before {
    content: "Scope: ";
    font-weight: bold;
}
