<html>
{% include head.html %}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Docs</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">
<!-- Google Fonts -->
<link
   href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
   rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/Indstyle.css" rel="stylesheet">

<body class="{{page.layout}}">
   {% include topnav.html %}

   <header></header>
   <section>
      <div class="container style=" text-align: center;"">
         <div class="row">
            <h1>Welcome to Dli docs.</h1>
            <p>The homepage of Dli docs is your starting point for accessing software documentation, developer guides,
               style guides and other resources.</p>
         </div>
         <br>
         <div class="row">
            <div class="row">
               <div class="col-md-6">
                  <div class="card card-1">
                     <h3>HROn</h3>
                     <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily
                        add any native functionality to your Ionic apps.
                     </p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="card card-2">
                     <h3>ESS</h3>
                     <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive
                        library of mobile UI components, ready to go.
                     </p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="card card-3">
                     <h3>Product enhancement</h3>
                     <p>Learn how to easily customize and modify your app’s design to
                        fit your brand across all mobile platform styles.
                     </p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="card card-4">
                     <h3>Developer docs</h3>
                     <p>Learn how to easily customize and modify your app’s design to
                        fit your brand across all mobile platform styles.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </section>
   <!-- End Services Section -->
   </main>
   </div>
</div>
   
</body>
<div class="footer">

   {% include footer.html %}
 </div>
</html>