<html>
  {% include head.html %}
  <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Docs</title>
      <meta content="" name="descriptison">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="assets/img/favicon.png" rel="icon">
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->

      <!-- Template Main CSS File -->
      <link href="assets/css/Indstyle.css" rel="stylesheet">
  <body class="{{page.layout}}">
    {% include topnav.html %}
    <!-- <div class="container">
           <main id="main">
       ======= About Section ======= -->
     

 
        <!-- End Hero -->
        <!-- ======= Services Section ======= -->
        <header></header>
        <section>                 
         <div class="container">
            <div class="row">

         <h1>Welcome to Dli docs.</h1>
         <p>This docs site is your starting point for accessing documentation on<br>software, developer guides, style guides and other resources.</p>
            </div>
            <br>
         <!-- End Hero -->
           <div class="row">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="card card-1">
                          <h3>Ionic Native</h3>
                          <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily 
                             add any native functionality to your Ionic apps.
                          </p>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="card card-2">
                          <h3>UI Components</h3>
                          <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive 
                             library of mobile UI components, ready to go.
                          </p>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="card card-3">
                          <h3>Theming</h3>
                          <p>Learn how to easily customize and modify your app’s design to 
                             fit your brand across all mobile platform styles.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           </div>
        </section>
        <!-- End Services Section -->
     </main>
      
    </div> -->
    <!--/.page-container-->
    {% include footer.html %} {% include google_analytics.html %}
  </body>
</html>
