<!DOCTYPE html>
<html>

  {% include head.html %}
  {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
      <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

  <body class="{{page.layout}}">
    {% include topnav.html %}
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          {% include sidebar.html %}
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9 main">
          <div class="subtitle">
            {% include breadcrumb.html %}
          </div>

          {% if page.simple_map == true %}

          <script>
            $(document).ready(function () {
              $(".box{{page.box_number}}").addClass("active");
            });
          </script>

          {% include {{page.map_name}} %} {% endif %}

          <h1>{{page.title}}</h1>

          {% if site.github_button_location_below_title == true %} {% include
          github_button.html %} {% endif %} 
          
          [&nbsp;
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a class="no-underline" href="{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
          {% endfor %}
          ]
              {{ content }}
            </div>
          
          {% if
          site.github_button_location_page_bottom == true %} {% include
          github_button.html %} {% endif %} {% include disqus.html %}
        </div>
      </div>
    </div>
<hr>    <hr>


  </body>
  
  <div class="footer">

    {% include footer.html %}
  </div>

</html>
